@model VotePageInfo
@{
    ViewData["Title"] = "Index";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Vote.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/Vote.min.css" asp-append-version="true" />
</environment>

@Model.VoteSession

<div id="container">

    @for (int i = 1; i <= Model.NumberOfVotes; i++)
    {
        var StyleClass = "them";
        if (Model.MyVoteId == i)
        {
            StyleClass = "me";
        }
    <div class="info-holder">
        <div class="timer">0</div>
        <div class="voter alive @StyleClass no-select" id="vote_@i" data-id="@i" data-current="false" data-health="alive">
            <div class="vote @StyleClass abstain-vote" data-vote="free"></div>
        </div>
        @if (Model.MyVoteId == i)
            {
        <div class="username @StyleClass">
            <input type="text" id="my_name" />
        </div>
        <div id="kill-switch" class="no-select">[D]</div>
        <div id="used-switch" class="no-select">[U]</div>
            }
            else
            {
        <div class="username @StyleClass">
        </div>
            }
    </div>


    }

</div>





<script>
    var SessionId = "@Model.VoteSession.ToString()";
</script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Vote.js"></script>
